@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;

}

body{
    background-color: #08aba9;
}


.header {
    background-color: #1b3039;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}





.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 23px;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links a:hover{
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    height: 500vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../Games/fondos.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}


.titulo {
    text-align: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 0 5px #999;
    font-size: 40px;
    color: whitesmoke;
}


.title {
    text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 0 0 5px #999;
}

.container_slider {
    
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10%;

}

input[type=radio]{
    display: none;

}
.contenedor{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;


}

.cards{
    position: relative;
    width: 100%;
    height: 100%;
}

.carta{
    position: absolute;
    width: 60%;
    height: 60%;
    left: 0%;
    right: 0%;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

img{
  
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}

#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;

}

#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
}


.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card__father{
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .card{
    transform: rotateY(180deg);
}


.card{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}
.card__back{
    transform: rotateY(180deg);
    background: white;
    color: #1b3039;
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body__card_back{
    padding: 25px;
    text-align: center;
    transform: translateZ(60px);
    font-size: small;
}

.body__card_back p{
    margin-top: 30px;
    font-size: 18px;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #1b3039;
    box-shadow: 1px 1px 30px -5px #1b3039;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #1b3039;
}

.texto{
    background-color: #1b3039;
    border-radius: 10px;
    border-color: #eceff1;
    width: 900px;
    height: 350px;

    
    
}

.error{

    text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 90px;
    text-transform: uppercase;
    color: darkred;
    text-shadow: 0 0 5px #999;
}
